<h3 class='status'>{{responseMessage}}</h3>
<div class='row'>
  <div class="col-xs-12 col-sm-1">
    <label>To:</label>
  </div>
  <div class="col-xs-12 col-sm-11 form-element">
      <app-email-typeahead [max]='1' (selected)='toEmailSelected($event)' [(searchValue)]='toSearchValue'></app-email-typeahead>
  </div>
</div>

<div class='row'>
  <div class="col-xs-12 col-sm-1">
    <label>CC:</label>
  </div>
  <div class="col-xs-12 col-sm-11 form-element">
      <app-email-typeahead [max]='1' (selected)='ccEmailSelected($event)' [(searchValue)]='ccSearchValue'></app-email-typeahead>
  </div>
</div>

<div class='row'>
  <div class="col-xs-12 col-sm-1">
    <label>Subject:</label>
  </div>
  <div class="col-xs-12 col-sm-11 form-element">
      <input type='text' [(ngModel)]='data.subject' />
  </div>
</div>

<div class='row'>
  <div class="col-xs-12 col-sm-1"><label>Body:</label></div>
  <div class="col-xs-12 col-sm-11 form-element">
    <textarea [(ngModel)]='data.body' rows='10' cols='41'></textarea>
  </div>
</div>

<div class='row'>
  <div class="col-xs-12 col-sm-1"></div>
  <div class="col-xs-12 col-sm-11">
    <button (click)='submit()'>Submit</button>
  </div>
</div>
